.container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-md);
  height: 100%;
}

.empty {
  background-image: url('../../../assets/icons/kitty.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}
