@import '../../../assets/styles/variables.css';

.container {
  box-shadow: var(--shadow);
  padding: var(--sp-xs);
  border-radius: var(--border-radius-small);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: var(--sp-s);
  column-gap: var(--sp-s);
}

.item {
  display: contents;
}

.item:nth-child(10) {
  grid-column: 1 / span 2;
  display: block;
}
