@import '../../../assets/styles/variables.css';

.container {
  border-radius: var(--border-radius-small);
  padding: var(--sp-xs);
  box-shadow: var(--shadow);
  background-color: #fff;
}

.list {
  display: flex;
  width: 100%;
  gap: var(--sp-s);
}

.item {
  flex-grow: 1;
}

.disabled {
  opacity: .5;
  box-shadow: none;
}

.onCanvas {
  box-shadow: none;
}
