@import '../../../assets/styles/variables.css';

.container {
  min-height: 60px;
}

.content {
  border-radius: var(--border-radius-large);
  background-color: var(--fill-light-grey);
  padding: var(--sp-xs) var(--sp-s);
  overflow: hidden;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text {
  font-size: 36px;
  font-weight: 800;
}

.error {
  font-size: 24px;
}
